* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


.header{
  background: #000000;
  /* padding: 0px 0px; */
}

.mobile-navigation{
  display: none;
}

#remove{
  position: relative;
  bottom: 15px;
  padding: 0px 10px;
  text-decoration: none;
  color: #fff;
}

.desktop-toggle  .bar{
  position: relative;
  top: 10px;
  right: 55%;
  display: block;
  font-size: 20px;
  cursor: pointer;
  transform: translate(5%, 20%);
}

.desktop-toggle .bar{
  width: 25px;
  height: 2px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color:#fff;
}

.desktop-toggle.is-active .bar:nth-child(2){
  opacity: 0;
}

.desktop-toggle.is-active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}

.desktop-toggle.is-active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}


.sidenav.active{
  transition: all 0.5s ease;
  opacity: 1;
  left: 0;
  display: block;
}
  

  /* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 100%; /* 0 width - change this with JavaScript */
  position: absolute; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 70px; /* Stay at the top */
  left: 0;
  display:none ;
  background: #E5E5E5; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s;
 
}


section{
  overflow: hidden;
}

.img-thumbnail{
  background-color: transparent;
}  

/* The navigation menu links */
.sidenav ul li a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  position: relative;
  left: 30px;
  font-family: Futura Bk BT;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.sidenav ul{
   display: flex;
   list-style: none;
}

.menu-toggle .bar{
   width: 25px;
   height: 3px;
   margin: 5px auto;
   transition: all 0.3s ease-in-out;
   background-color:#fff;
}


.sidenav h3{
   position: relative;
   left: 6%;
   font-family: Futura;
   font-style: normal;
   font-weight: 500;
   font-size: 36px;
   line-height: 48px;
   color: #000000;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #292828;
}

/* Position and style the close button (top right corner) */
 #closebtn {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #000;
  cursor: pointer;
}



  
  
  .slider {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }
  
  .slide.current {
    opacity: 1;
  }
  
  .slide .content {
    position: absolute;
    bottom:200px;
    left: -500px;
    opacity: 0;
    width: 600px;
    /* background-color: rgba(255, 255, 255, 0.8); */
    color: #fff;
    padding: 35px;
  }
  
  .slide .content h1 {
    margin-bottom: 10px;
  }
  
  .slide.current .content {
    opacity: 1;
    transform: translateX(600px);
    transition: all 0.7s ease-in-out 0.3s;
  }
  
  .buttons button#next {
    position: absolute;
    top: 40%;
    right: 15px;
  }
  
  .buttons button#prev {
    position: absolute;
    top: 40%;
    left: 15px;
  }
  
  .buttons button {
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    padding: 5px 5px;
    border-radius: 50%;
    outline: none;
  }
  
  .buttons button:hover {
    background-color: #fff;
    color: #333;
  }
  
  @media (max-width: 500px) {
    .slide .content {
      bottom: -300px;
      left: 0;
      width: 100%;
    }
  
    .slide.current .content {
      transform: translateY(-300px);
    }

    .discover-2{
        top: 188%;
    }
    .discover-3{
        top: 228%;
        left: 50%;
    }
  }
  
  
  
  /* Backgorund Images */
   
  .slide:first-child {
    background: url('../img/background.png') no-repeat
      center top/cover;
  }
  .slide:nth-child(2) {
    background: url('../img/hol.png') no-repeat
      center top/cover;
  }
  .slide:nth-child(3) {
    background: url('../img/holl.png') no-repeat
      center top/cover;
  }
  .slide:nth-child(3) {
    background: url('../img/edge.png') no-repeat
      center top/cover;
  }

.edge{
    padding: 10em;
}

.edge h5{
   font-size: 3em;
   line-height: 1.3em;
}

.discover{
    position: absolute;
    top:143%;
    left: 25%;
}


.discover-2{
    position: absolute;
    top:143%;
    left: 51%;
}
.discover-3{
    position: absolute;
    top:143%;
    left:80%;
}

#collection{
  background: #E5E5E5;
  padding-top: 70px;
  padding-bottom: 130px;
}




.astro-collection{
    padding-top: 50px;
}

.astro-collection h2{
    font-family: Futura;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 64px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.025em;
    color: #0F0F0F;
}

section{
  overflow: hidden;
}


.astro-collection p{
    font-family: Futura Lt BT;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    width: 877px;
    height: 87px;
    letter-spacing: 0.025em;
    color: #0F0F0F;
    position:absolute;
    left: 18%;
}





#sport-wear{
  padding-top: 70px;
  padding-bottom: 50px;
  overflow: hidden;
}

section{
  overflow: hidden;
}


header{
  overflow: hidden;
}


.sport-wear h3{
  font-family: Futura;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  letter-spacing: 0.025em;
  color: #0F0F0F;
}


.sport-wear p{
  font-family: Futura Lt BT;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.025em;
  color: #0F0F0F;
  width: 510px;
  height: 87px;
}


.product-name h4{
  font-family: Futura;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.025em;
  color: #0F0F0F;
  width: 343px;
height: 32px;
}


.product-price p{
  font-family: Futura Lt BT;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.025em;
  color: #0F0F0F;
  width: 343px;
height: 29px;
}

.owl-theme .owl-nav {
  margin-top: 10px;
  position: absolute;
  bottom: 95%;
  left:85%;

}


.owl-nav span{
  font-size: 70px;
  margin-left: 35px;
}



#newslatter{
  background: #131313;
  /* height: 70vh; */
}

.newslatter{
  padding-top: 10%;
  padding-bottom: 10%;
}


.newslatter h2{
  font-family: Futura;
font-style: normal;
font-weight: 500;
font-size: 64px;
line-height: 85px;
letter-spacing: 0.025em;
color: #F1F1F1;
}


.newslatter p{
  font-family: Futura Lt BT;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 43px;
letter-spacing: 0.025em;
width: 532px;
height: 129px;
color: #F1F1F1;
}


.input{
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 5px;
  width: 431px;
  height: 55px;
}

.subscribe{
  font-family: Futura Md BT;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
width: 431px;
height: 55px;
/* identical to box height */

letter-spacing: 0.025em;
background: #FFFFFF;
border-radius: 5px;
}

.instagram h2{
  font-family: Futura;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  letter-spacing: 0.025em;
  width: 510px;
  color: #0F0F0F;
}


.instagram p{
  font-family: Futura Lt BT;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  letter-spacing: 0.025em;
  color: #0F0F0F;
}


/* footer style */

#footer{
  background: #131313;
  padding-top:100px;
  height:75vh;
  overflow: hidden;
}

.footer-logo{
  position: relative;
  bottom: 35px;
}

.footer-about p{
  font-family: Futura Lt BT;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  width: 322px;
  height: 64px;
  color: #FFFFFF;
}

.footer-information h3{
  position: relative;
  left: 9%;
  font-family: Futura Md BT;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height */
  color: #FFFFFF;
}

.footer-categories h3{
  position: relative;
  left: 9%;
  font-family: Futura Md BT;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height */
  color: #FFFFFF;
}
.footer-socials h3{
  position: relative;
  left: 9%;
  font-family: Futura Md BT;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height */
  color: #FFFFFF;
}

.footer-categories ul{
  list-style: none;
}
.footer-socials ul{
  list-style: none;
}


.footer-categories ul li{
  font-family: Futura Lt BT;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  /* identical to box height */
  color: #FFFFFF;
}

.footer-socials ul li{
  font-family: Futura Lt BT;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  /* identical to box height */
  color: #FFFFFF;
}


.footer-information ul{
  list-style: none;
}

.footer ul li{
  font-family: Futura Lt BT;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  /* identical to box height */
  color: #FFFFFF;
}

.footer ul li a{
  text-decoration: none;
  color: #FFFFFF;
  /* position: relative; */
  
}


.footer h3{
   position: relative;
   left: 30px;
}


.copyright {
  font-family: Futura Lt BT;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */
  color: #FFFFFF;
  position: absolute;
  left: 45%;
  padding-top:7%;
}


.control ul {
  list-style: none;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 84%;
  margin: 0;
  padding: 0;
  transform: translate(-50%);
}
.control ul li {
  width: 10px;
  height: 10px;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 50px;
  margin: 10px;
  cursor: pointer;
}
.control ul li.selected {
  background: transparent;
}



.nav-category a{
  font-family: Futura;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height */
  letter-spacing: 0.025em;
  color: #FFFFFF;
  text-decoration: none;
  padding-left: 20px;
  position: relative;
  top: 5px;
}


.nav-category i{
  cursor: pointer;
}


.sport-wear-row{
  display: -moz-grid;
  display:-ms-grid;
  display: grid;
  grid-gap:40px;
  grid-template-columns: 1fr 1fr;
}


.jackects-row {
  display: -moz-grid;
  display:-ms-grid;
  display: grid;
  grid-gap:40px;
  grid-template-columns: 1fr 1fr;
}


.instagram-row{
  display: -moz-grid;
  display:-ms-grid;
  display: grid;
  grid-gap:20px;
  grid-template-columns: 1fr 1fr 1fr;
}




/* category style  */

.hero{
  height:110vh; 
  width: 100% !important;
  background-size:cover !important; 
  background-repeat:no-repeat !important; 
  background-position:center !important;
  background-blend-mode: overlay !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  background: url(../img/category/hero.png);
}

.hero-text{
  position: relative;
  top:210px;
  left:0%;
}

.hero-text blockquote{
  position: absolute;
  left:40%;
}


.hero-text blockquote .breadcrumb-item {
  font-family: Futura Lt BT;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 29px;
/* identical to box height */

letter-spacing: 0.025em;

color: #FFFFFF;
}

.hero-text h3{
  font-family: Futura;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.025em;
  color: #FFFFFF;
}
.category-button{
  text-align: center;
}
.category-button a{
  font-family: Futura;
  font-style: normal;
  font-weight: 500;
  font-size: px;
  line-height: 40px;
  letter-spacing: 0.025em;
  color: #FFFFFF;
   padding:5px 50px ;
}


.category-row{
  display: -moz-grid;
  display:-ms-grid;
  display: grid;
  grid-gap:20px;
  grid-template-columns: 1fr 1fr 1fr;
  /* margin: 3%  5%; */
}

.align-items-center {
  align-items: center !important;
}
/* Course Filter */




/* product styling  */

.product-Premium{
  padding-bottom:10%;
}

.column{
  padding-top: 80px;

} 

.column-2{
  width: 475px;
  height: 550px;
  position: absolute;
  top: 27%;
  background-color: #FFFFFF;
  border-radius: 0.25rem;
  padding: 3rem;
  margin-bottom: 3rem;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
}

.column-2 h1{
  font-family: Futura;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}

.column-2 h3{
  font-family: Futura Bk BT;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #131313;
}


.column-2 h6{
  font-family: Futura Md BT;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #6B7280;
}

.column-2 p{
  font-family: Futura Lt BT;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  width: 283px;
  height: 57px;
  color: #131313;
}

.column-2  .colors p{
  font-family: Futura Md BT;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #6B7280;
}

.box-1{
  position: absolute;
  width: 24px;
  bottom: 270px;
  height: 24px;
  background: #131313;
  border: 1px solid #C6C6C6;
  box-sizing: border-box;
  border-radius: 8px;
}

.box-2{
  position: absolute;
  left: 17%;
  width: 24px;
  bottom: 270px;
  height: 24px;
  border: 1px solid #C6C6C6;
  box-sizing: border-box;
  background: #EB5757;
  border-radius: 8px;
}
.box-3{
  position: absolute;
  left: 24%;
  width: 24px;
  bottom: 270px;
  height: 24px;
  border: 1px solid #C6C6C6;
  box-sizing: border-box;
  background: #F2C94C;
  border-radius: 8px;
}
.box-4{
  position: absolute;
  left:31%;
  width: 24px;
  bottom: 270px;
  height: 24px;
  border: 1px solid #C6C6C6;
  box-sizing: border-box;
  background: #219653;
  border-radius: 8px;
}

.box-5{
  position: absolute;
  left:38%;
  width: 24px;
  bottom: 270px;
  height: 24px;
  border: 1px solid #C6C6C6;
  box-sizing: border-box;
  background: #F2994A;
  border-radius: 8px;
}
.box-6{
  position: absolute;
  left:45%;
  width: 24px;
  bottom: 270px;
  height: 24px;
  border: 1px solid #C6C6C6;
  box-sizing: border-box;
  background: #000000;
  border-radius: 8px;
}



.size p{
  font-family: Futura Md BT;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #6B7280;
}

.size-1{
  position: absolute;
  bottom: 200px;
  background: rgba(3, 83, 164, 0.05);
  border-radius: 5px;
  width: 27.62px;
  height: 26px;
}

.size-1 {
  font-family: Futura;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height:30px;
  color: #0A0A0A;
  text-decoration: none;
  text-align: center;
}
.size-2{
  position: absolute;
  bottom: 200px;
  background: rgba(3, 83, 164, 0.05);
  border-radius: 5px;
  width: 27.62px;
  height: 26px;
  left:20%;
}

.size-2 {
  font-family: Futura;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height:30px;
  color: #0A0A0A;
  text-decoration: none;
  text-align: center;
}
.size-3{
  position: absolute;
  bottom: 200px;
  background: rgba(3, 83, 164, 0.05);
  border-radius: 5px;
  width: 27.62px;
  height: 26px;
  left: 30%;
}

.size-3 {
  font-family: Futura;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height:30px;
  color: #0A0A0A;
  text-decoration: none;
  text-align: center;
}

.btn-product{
  background: #131313;
  width: 338px;
  height: 45px;
  position: absolute;
  bottom: 50px;
}

#featured{
	max-width: 500px;
	max-height: 600px;
	object-fit: cover;
	cursor: pointer;
	/* border: 2px solid black; */

}

.thumbnail{
	object-fit: cover;
	max-width: 180px;
	max-height: 100px;
	cursor: pointer;
	opacity: 0.5;
	margin: 5px;
	border: 2px solid black;

}

.thumbnail:hover{
	opacity:1;
}

.active{
	opacity: 1;
}

#slide-wrapper{
	max-width: 500px;
	display: flex;
	min-height: 100px;
	align-items: center;
}

#slider{
	width: 440px;
	display: flex;
	flex-wrap: nowrap;
	/* overflow-x: auto; */

}

#slider::-webkit-scrollbar {
		width: 8px;

}

#slider::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

}
 
#slider::-webkit-scrollbar-thumb {
  background-color: #dede2e;
  outline: 1px solid slategrey;
   border-radius: 100px;

}

#slider::-webkit-scrollbar-thumb:hover{
    background-color: #18b5ce;
}

.arrow{
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: .3s;
}

.arrow:hover{
	opacity: .5;
	width: 35px;
	height: 35px;
}


.product-type{
  font-family: Futura;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.025em;
  
  color: #0F0F0F;
}
.product-price{
  font-family: Futura Lt BT;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.025em;
  color: #0F0F0F;
  transition: all 0.3s ease-in-out;
}


.product-items{
  font-family: Futura Lt BT;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #131313;
}